.table {
  margin: 30px auto 0;
  border-collapse: collapse;
  border: 1px solid black;
}
.tableHead {
  background-color: rgb(42, 42, 42);
  color: #fff;
}
.tableHeadCell {
  width: 100px;
  text-align: center;
}

td,
th {
  border: 1px solid black;
  width: 130px;
  height: 30px;
}
